<form action="/products" method="GET">
    <% categories.forEach(category => { %>
        <% if(selectedCategories.find(selCategory => selCategory === category.name)) { %>
            <div>
                <input checked type="checkbox"
                       id="<%= category.id %>"
                       name="category" value="<%= category.name %>">
                <label for="<%= category.id %>">
                    <%= category.name.charAt(0).toUpperCase() + category.name.slice(1) %>
                </label>
            </div>
        <% } else if (selectedCategory === category.name) { %>
                <div>
                    <input checked type="checkbox"
                           id="<%= category.id %>"
                           name="category" value="<%= category.name %>">
                    <label for="<%= category.id %>">
                        <%= category.name.charAt(0).toUpperCase() + category.name.slice(1) %>
                    </label>
                </div>
        <% } else { %>
                <div>
                    <input type="checkbox"
                          id="<%= category.id %>"
                          name="category" value="<%= category.name %>">
                    <label for="<%= category.id %>">
                        <%= category.name.charAt(0).toUpperCase() + category.name.slice(1) %>
                    </label>
                </div>
        <% } %>
    <% }) %>
    <button type="submit">Filter</button>
</form>